<%= render partial: 'error_form', locals: { card: @card } %>
<h1>カード登録ページ</h1>

<table>
  <thead>
    <%= form_with model: @card do |f| %>
    <tr>
      <th>カード記載の名前</th>
      <th><%= f.text_field :name %></th>
    </tr>
    <tr>
      <th>カード番号（末尾4桁）</th>
      <th><%= f.text_field :last4 %></th>
    </tr>
    <tr>
      <th>使用期限（年）</th>
      <th><%= f.text_field :exp_year %></th>
    </tr>
    <tr>
      <th>使用期限（月）</th>
      <th><%= f.text_field :exp_month %></th>
    </tr>
    <tr>
      <th></th>
      <th><br><%= f.submit "カード登録" %></th>
    </tr>
    <% end %>
   </thead>
</table>
<br>
<br>
<%= link_to "カード一覧へ", cards_path %>
